
<div id="creerunnewvoyage">
  <div class="text-center">
    <h2 class="trip-title"> Racontez un nouveau voyage</h2>
  </div>
</div>
  <br>
</div>

<div id="formnew">
  <%= simple_form_for ([@trip]) do |f| %>
    <div class="container">
      <div class="form-wrapper" style="width: 500px; margin: 0 auto;"></div>
        <%= f.input :title, label: "Donnez un titre à votre voyage", placeholder: "Un voyage au bout du monde", input_html: { class: 'form-control', id: "formGroupExampleInput", style:"text-align: center", type: "text-muted"} %>
        <div class="d-flex justify-content-between">
          <%= f.input :starts_on, as: :string, placeholder: "Début", label: "Date de début", input_html: { class: " datepicker bg-white field", id:'booking_start_date', style: "width: 96%; text-align: center" } %>
          <%= f.input :ends_on, as: :string, placeholder: "Fin", label: "Date de fin", input_html: { class: "datepicker bg-white field", id:'booking_end_date', style: "width: 96%; margin-left: 5px; text-align:center"} %>
        </div>
        <div class="mb-4">
          <input type="checkbox" id="scales" name="scales">
          <label for="scales">Je ne connais pas encore la date de fin</label>
        </div>

        <%= f.input :cover_picture, label: "Ajouter une photo de couverture", as: :file %>
        <div class="text-center">
          <%= f.button :submit, "C'est parti!", class: "btn btn-warning mt-3", style: "width: 150px;" %>
        </div>
      </div>
    </div>
  <% end %>
</div>

