<div class="d-flex justify-content-between">
  <!-- <img class="mt-2" src="https://res.cloudinary.com/datbhgbcq/image/upload/v1593113188/TRIPSMAP/TRIPSMAP_TripsMap_kc9ki7-media_lib_thumb_daviif.png" alt=""> -->
  <div class="logo">
    TripsMap
  </div>

  <div class="follow-button">
    <% if @user == current_user %>
      <button type="button" class="btn btn-light mt-4">Editer mon compte</button>
    <% else %>
      <% if @follower %>
        <%= render "followers/unfollow_button" %>
      <% else %>
        <%= render "followers/follow_button" %>
      <% end %>
    <% end %>
  </div>
</div>
<div class="profile-infos">
  <div class="main-infos mb-3" style="text-align: center">
    <%= cl_image_tag @user.avatar.key, class: "avatar mt-5"  %>
    <h5><%= @user.pseudo %></h5>
    <p>Aventurier chevronné, j'aime parcourir le monde pour découvrir des paysages exceptionnels que nous offre la nature.</p>
  </div>
  <div class="inline-infos-trips mb-4">
    <div class="container d-flex justify-content-around">
      <div class="text-center" style="width: 52px;"><strong><span style="font-size: 1.5rem"><%= @count_steps %></span></strong> étapes</div>
      <div class="text-center" style="width: 52px;"><strong><span style="font-size: 1.5rem"><%= @trips.count %></span></strong> pays</div>
      <div id="followers-count" class="text-center" style="width: 52px;"><%= render "followers/followers_count" %></div>
    </div>
  </div>
</div>

</div>

<div id="profile-map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div>

<div class="container text-center">
<h5 class="mt-4"> Mes voyages </h5>
<div id="profile-cards" class="row">
  <% @trips.order('starts_on DESC').each do |trip| %>
    <div class="col-12 col-md-6 col-lg-4 col-xl-4">
      <%= link_to trip_path(trip) do %>
        <div class="card mt-3" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('<%= cl_image_path trip.cover_picture.key %>');">
          <div class="card-infos">
            <div class="d-flex flex-column align-items-start justify-content-between container-card-infos">
              <span style="background: rgba(255, 255, 255, 0.8); border: 1px solid rgba(255, 255, 255, 0.8); border-top-right-radius: 5px; border-bottom-right-radius: 5px; padding: 5px 10px; color: rgba(0, 0, 0, 0.6); width: 110px;"><%= "#{l(trip.starts_on, format: '%B %Y', locale: 'fr')}" %></span>
              <h6 style="margin: 0 auto; color: #fff;"><%= trip.steps.count %> étapes</h6>
              <p class="mb-2" style="margin: 0 auto;"><%= trip.title %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle" style="text-align: center;">Abonnés</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="d-flex justify-content-between align-items-center">
          <div class="avatar-follower">
            <%= cl_image_tag @user.avatar.key, class: "avatar-follower"  %>
          </div>
          <div class="follower-infos">
            <%= @user.pseudo %>
          </div>
          <div class="follow-button">
            <button class="btn btn-primary">S'abonner</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
