
<div class='container text-center'>

  <p class = "mt-5"> Choisissez un voyage dans lequel vous souhaitez écrire une nouvelle étape:</p>
  <div class="row mt-5">
    <% @trips.last(5).each do |trip| %>
      <div class="col-12 col-md-6 col-lg-4 col-xl-4">
        <%= link_to new_trip_step_path(trip), class:"card-link" do%>
          <div class="d-flex">
            <div class="w-25 photo-card">
              <%= cl_image_tag trip.cover_picture.key %>
            </div>
            <div class="w-75 content justify-content-center align-items-center">
              <div id="trip-title"><%= trip.title %>
              </div>
              <div id="trip-dates">
                <%= trip.starts_on %> - <%= trip.ends_on %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class= "new-trip text-center">
    <p class="btn btn-orange-new"> Nouveau voyage </p>
  </div>

</div>


