<%= link_to step_path(step), style: "color: rgba(0,0,0,0.8);" do %>
  <div class="notif my-4">
    <p class="pl-0" style="font-size: 13px;">Le <%= l(step.created_at, format: '%d %b %Y', locale: 'fr') %></p>
    <div class="d-flex align-items-center">
      <%= cl_image_tag step.trip.user.avatar.key, class: "avatar-average" %>
      <p style="padding: 0px 12px; line-height: 22px; text-align: justify; width:70%; font-size: 14px;"><strong><%= step.trip.user.pseudo %></strong> a posté une nouvelle étape dans son voyage : <strong><br><%= step.trip.title %></strong>.</p>
      <%= cl_image_tag step.cover_picture_key, class: "step-illustration" %>
    </div>
  </div>
<% end %>
