<div class="explore">
  <ul class="mt-4 nav nav-pills nav-fill" id="bookingsTabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="upcomingTab" data-toggle="tab" href="#upcomingContent" role="tab" aria-controls="upcomingContent" aria-selected="true"><i class="fas fa-bars"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pastTab" data-toggle="tab" href="#pastContent" role="tab" aria-controls="pastContent" aria-selected="true"><i class="fas fa-search"></i></a>
    </li>
  </ul>

  <div class="tab-content" id="contentTab">
    <div class="tab-pane fade show active" id="upcomingContent" role="tabpanel" aria-labelledby="upcomingTab">
      <h6 class="my-4">Ce mois-ci</h6>
      <div class="notif">
        <p class="pl-0 pb-2" style="font-size: 13px;">Le <%= l(Step.last.created_at, format: '%d %b %Y', locale: 'fr') %></p>
        <div class="d-flex align-items-center">
          <%= cl_image_tag User.find(1).avatar.key, class: "avatar-average" %>
          <p style="padding: 0px 10px; line-height: 22px; text-align: justify; width:70%; font-size: 14px;"><strong><%= User.find(1).pseudo %></strong> a posté une nouvelle étape dans <strong><%= Trip.last.title %></strong>.</p>
          <%= cl_image_tag Step.last.cover_picture_key, class: "step-illustration" %>
        </div>
      </div>
      <h6 class="mt-5 mb-4">Plus tôt</h6>
    </div>

    <div class="tab-pane fade show" id="pastContent" role="tabpanel" aria-labelledby="pastTab">

      <%= render 'shared/explore_search_form' %>

      <div class="explorer-cards">
        <%= render 'steps', steps: @steps %>
      </div>

    </div>
  </div>
</div>

