</div>
<div class="container">
  <div id="creerunvoyage">
  <div class="text-center">
    <h2 class="trip-title"><%= @trip.title%></h2>
    <h5 class="trip-dates"><%= l(@trip.starts_on, format: '%e %b %Y', locale: 'fr') %> - <%= l(@trip.ends_on, format: '%e %b %Y', locale: 'fr') %></h5>
  </div>
  </div>
  <br>
</div>

<div id="formnew">


  <%= simple_form_for ([@trip, @step]) do |f| %>

    <div class="container">
      <%= f.input :title, label: "Donnez un titre à votre étape", placeholder: "Queenstown la majestueuse", input_html: { class: 'form-control', id: "formGroupExampleInput", style:"text-align: center", type: "text-muted"} %>
      <%= f.input :location, label: "Lieu de l'étape", placeholder: "Queenstown", input_html: { class: 'form-control place-address', style:"text-align: center", type: "text-muted"} %>
      <div class="form-group d-flex align-items-center justify-content-center my-4">
        <label class="mr-3 mb-0" for="nb_of_days">Durée:</label>
          <%= f.input :nb_of_days, as: :integer, placeholder: '---', label: false, input_html: { style:"width: 100px; text-align: center;" } %>
        <label class="ml-3 mb-0 mr-3">jours</label>
      </div>
    </div>

    <div class="step-map mt-3 mb-2 text-center">
      <img src="https://res.cloudinary.com/datbhgbcq/image/upload/v1593180337/TRIPSMAP/image_1_qmxanz.png" alt="">
    </div>


    <div class="container">

      <p class="text-muted my-4"> Cliquez sur + pour ajouter du texte, des photos ou des vidéos.</p>

      <%= f.simple_fields_for :blocks do |block| %>
        <%= render 'block_fields', f: block %>
      <% end %>

      <div class="dropdown mt-4">
        <button class="btn btn-warning d-block mx-auto mb-3" type="button" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2"> + </button>
        <div class="d-flex align-items-center justify-content-center">
          <div class="">
            <div class="collapse multi-collapse" id="multiCollapseExample1">
              <%= link_to_add_association f, :blocks, class: "dropdown-item", partial: 'block_fields_file', data: { association_insertion_method: 'before', association_insertion_node: '.dropdown' } do %>
                <span class="far fa-image"></i></span> Photos
              <% end %>
            </div>
          </div>
          <div class="">
            <div class="collapse multi-collapse" id="multiCollapseExample1">
              <%= link_to_add_association f, :blocks, class: "dropdown-item", partial: 'block_fields_text', data: { association_insertion_method: 'before', association_insertion_node: '.dropdown' } do %>
                <span class="far fa-edit"></i></span> Text
              <% end %>
            </div>
          </div>
          <div class="">
            <div class="collapse multi-collapse" id="multiCollapseExample1">
              <%= link_to_add_association f, :blocks, class: "dropdown-item", partial: 'block_fields_file', data: { association_insertion_method: 'before', association_insertion_node: '.dropdown' } do %>
                <span class="far fa-pause-circle"></i></span> Vidéos
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center">
        <%= f.button :submit, "Poster", class: "btn btn-warning mt-3", style: "width: 150px;" %>
      </div>
    </div>
  <% end %>

</div>

