<% previous_step = Step.find_by(trip: @step.trip, id_in_its_trip: @step.id_in_its_trip - 1)  %>
<% next_step = Step.find_by(trip: @step.trip, id_in_its_trip: @step.id_in_its_trip + 1)  %>
<!-- Flèches -->
<br>
<div class="container">
  <div class="d-flex align-items-center justify-content-between" style="color:orange;">
    <% if previous_step.nil? %>
      <div btn btn-warning class="previous" style="color:white;">
        <i class="fas fa-angle-double-left"></i> Précédent
      </div>
    <% else %>
      <%= link_to step_path(previous_step) do %>
        <div btn btn-warning class="previous" style="color:rgba(226, 110, 45, 0.67);">
          <i class="fas fa-angle-double-left"></i> Précédent
        </div>
      <% end %>
    <% end %>
    <% unless next_step.nil? %>
      <%= link_to step_path(next_step) do %>
        <div btn btn-warning class="next" style="color:rgba(226, 110, 45, 0.67);">
          Suivant <i class="fas fa-angle-double-right"></i>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<!-- trip -->

<%= link_to trip_path(@trip) do %>
  <h2 class="trip-title"><%= @trip.title%></h2>
<% end %>
<h5 class="trip-dates"><%= l(@trip.starts_on, format: '%e %b %Y', locale: 'fr') %> - <%= l(@trip.ends_on, format: '%e %b %Y', locale: 'fr') %></h5>
<%= link_to user_path(@user), class: "d-flex justify-content-center pt-2", style: "text-decoration: none; color: rgba(0,0,0,0.8);" do  %>
  <%= cl_image_tag @user.avatar.key, class: "avatar-small"  %>
  <p style="font-size: 15px;" class="pl-2"><%= @user.pseudo %></p>
<% end %>
<div class="step-infos bg-light py-3 position-relative">
  <p style="color: rgba(226, 110, 45, 0.67);">Etape <%= @step_id %> sur <%= @trip.steps.count %> : <br> <%= @step.title %></p>
  <p style="font-weight: normal;">- <br><%= @step.nb_of_days %> jours</p>
  <%= render 'shared/fav_button', step_id: @step.id, trip: @trip %>
</div>

</div>

<% if @blocks.sort[0].mediatype === "photos" %>
  <div class="step-map mt-3 text-center" style="margin-bottom: 30px;">
    <div id="step-map"
      style="width: 100%; height: 350px;"
      data-marker="<%= [@marker].to_json  %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
<% else %>
  <div class="step-map mt-3 mb-2 text-center">
    <div id="step-map"
      style="width: 100%; height: 350px;"
      data-marker="<%= [@marker].to_json  %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
<% end %>

<div id="blocks" class="container">
  <% @blocks.sort.each do |block| %>

    <% if block.mediatype === "text" %>
    <!-- <div class="step-text-background"> -->
      <!-- <p class="step-text note-style cedarville"><%= block.text %></p> -->
      <p class="step-text"><%= block.text %></p>
    <!-- </div> -->
    <% elsif block.mediatype === "video" %>
      <% block.files.each do |video| %>
        <%= cl_video_tag video.key, controls: true, width: '345' %>
      <% end %>
    <% elsif block.mediatype === "photos" %>
      <% if block.files.size % 2 === 0 %>

        <% if block.files.size === 4 %>
          <div class="row">
            <div class="col-5" style="padding-right: 2px;"><%= cl_image_tag block.files[0].key %></div>
            <div class="col-7" style="padding-left: 2px;"><%= cl_image_tag block.files[1].key %></div>
          </div>
          <div class="row">
            <div class="col-8" style="padding-right: 2px;"><%= cl_image_tag block.files[2].key %></div>
            <div class="col-4" style="padding-left: 2px;"><%= cl_image_tag block.files[3].key %></div>
          </div>

        <% else %>
          <div class="row">
            <div class="col-6" style="padding-right: 2px;"><%= cl_image_tag block.files[0].key %></div>
            <div class="col-6" style="padding-left: 2px;"><%= cl_image_tag block.files[1].key %></div>
          </div>
        <% end %>


      <% else %>

        <div class="pictures" >
          <% block.files[0..-2].each do |photo| %>
            <%= cl_image_tag photo.key %>
          <% end %>
        </div>
        <div class="picture-big">
          <%= cl_image_tag block.files[-1].key %>
        </div>

      <% end %>
    <% end %>
  <% end %>
</div>

