<!DOCTYPE html>
<html>
  <head>
    <title>Tripsmap</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <% if current_page?(root_path) %>
      <%= render 'shared/flashes' %>
      <%= yield %>
    <% else %>
      <div class="container">
        <%= render 'shared/logo' unless @disable_logo %>
        <%= render 'shared/flashes' %>

        <%= yield %>
        <%= render 'shared/white_space' %>
      </div>
        <%= render 'shared/navbar' %>
    </body>
  <% end %>
</html>
